
a{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    position: absolute;
    text-decoration: none;
    left: 10px;
    top: 8px;
}

.container{
    height: 300px;
    width: 900px;
    top: 10px;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    text-align: center;
    position: absolute;
    color: slategrey;
}

.JennyContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;
    
}
.Jenny{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: grey;

}

.JenContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;
 
}

.Jen{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.MarkContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Mark{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.JaredContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Jared{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}


.AndreaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Andrea{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.AshleyContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Ashley{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.DavidContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.David{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.SarahContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 10px;

}
.Sarah{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.ZoeContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Zoe{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.LalaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Lala{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.BrendaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Brenda{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.ShaneContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Shane{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.RikoContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Riko{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.JamesContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.James{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.EmmaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Emma{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.AlexContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Alex{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.PillarContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Pillar{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}


.ChrisContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Chris{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}
.EmiliaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Emilia{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.SamContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Sam{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.JenniferContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Jennifer{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.AbbyContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Abby{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.DannyContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Danny{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.BreonnaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Breonna{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.JessieContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Jessie{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.JoeyContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Joey{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.KelseyContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Kelsey{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.KyleContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Kyle{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.AnteriaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Anteria{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}
.BartKarlyContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.BartKarly{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.GroverContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Grover{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.Jen2Container{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Jen2{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.BrianContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Brian{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.MichaelContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Michael{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.RachelContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Rachel{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.EmilyContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Emily{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.Rachel2Container{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Rachel2{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.Kelsey2Container{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Kelsey2{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.SophieContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Sophie{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.DylanContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Dylan{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.ElliotContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Elliot{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.MorganContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Morgan{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.TheresaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Theresa{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.VictoriaGregContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.VictoriaGreg{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.ChristopherContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Christopher{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}
.JonathanMarissaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.JonathanMarissa{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.JulianaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Juliana{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.ShaneContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Shane{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.PeterElleContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.PeterElle{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.BiancaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Bianca{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.AnnikaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Annika{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

/* .KarolinaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Karolina{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

} */

/* .Rob2Container{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Rob2{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

} */

.IanContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Ian{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.OlgaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}
.Olga{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}
.SelmaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Selma{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.CarolineContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Caroline{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.CatewithaCContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.CatewithaC{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.JoeContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Joe{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.FlorenciaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Florencia{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.OliverContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Oliver{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.Sam2Container{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Sam2{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.TrinityMcKenzieContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.TrinityMcKenzie{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.Sarah2Container{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Sarah2{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.EddieContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Eddie{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.WarrenContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Warren{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.ShaktiContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Shakti{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.PhilipContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Philip{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.JillContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Jill{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.CarawithaCContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.CarawithaC{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.HannahwithanHContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.HannahwithanH{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.MaxContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Max{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.CeciliaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Cecilia{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}


.EdContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Ed{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}


.WendiContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Wendi{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.ElizabethContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Elizabeth{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.MaggieContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Maggie{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.LizaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Liza{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.VivaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Viva{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.AlContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Al{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.JohnContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.John{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.KatinaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Katina{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.AngelaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Angela{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.FreddyContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Freddy{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.PierceContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Pierce{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.SibertcheColtonContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.SibertcheColton{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.TiffanyDrewContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.TiffanyDrew{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.StephanieContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Stephanie{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.ConnorAlyssaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.ConnorAlyssa{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.JesseContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Jesse{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.ZeniaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Zenia{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.SeanContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Sean{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}
.MeredithContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Meredith{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.KCContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.KC{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.John2Container{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.John2{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.AlexContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Alex{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.CaraContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Cara{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.LauraNickContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.LauraNick{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.AnnaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Anna{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.SamContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Sam{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.DominicContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Dominic{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.LizzyContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Lizzy{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

.SashaContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Sasha{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}
.SaryContainer{
    height: 700px;
    width: 1200px;
    position: absolute;
    margin: 20px;

}

.Sary{
    height: 300px;
    width: 150px;
    top: 2%;
    left: 50%;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    color: slategrey;

}

























